/* ============================================
   my shortcuts for colours to use— style.css
   Colours :
   Navy:      #0A1628
   Mid-navy:  #1B2E4B
   White:     #FFFFFF
   Off-white: #F5F7FA
   Gold:      #C9A84C
   Light grey:#E8ECF0
============================================ */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: Arial, sans-serif;
    background: #F5F7FA;
    color: #0A1628;
    line-height: 1.6;
    padding-top: 50px;
   
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.section-title {
    border-bottom: 2px solid #C9A84C;
    display: inline-block;
    margin-bottom: 20px;
}

/* NAVBAR */
.navbar {
    background: #0A1628;
    padding: 15px 0;
}

.navbar-brand {
    font-weight: bold;
}

.brand-sharp {
    color: white;
}

.brand-cuts {
    color: #C9A84C;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #C9A84C !important;
}

/* BUTTON */
.btn-custom {
    background: #C9A84C;
    color: #0A1628;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.btn-custom:hover {
    background: #b8963e;
}

/* HERO */
.top{
    background: #0A1628;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.top-heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.top-sub {
    margin-bottom: 25px;
}

/* CARDS */
.feature-card {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}
.cta-banner {
    background: #F5F7FA;
    text-align: center;
    padding: 30px 20px 20px;
}

/* FOOTER */
.footer {
    background: #0A1628;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer-links a:hover {
    color: #C9A84C;
}

/* MOBILE */
@media (max-width: 768px) {
    .top-heading {
        font-size: 2rem;
    }
}